<!DOCTYPE html>
<html>
<head>
  <title>ScriniumEsm</title>
  <%= stylesheet_link_tag    "scrinium_esm/application", media: "all" %>
  <%= javascript_include_tag "scrinium_esm/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
