<div class='model-form'>
  <%= simple_form_for @coupled_model do |f| %>
    <dl>
      <dt><%= t('global.basic_info') %></dt>
      <dd>
        <%= render 'scrinium_esm/commons/model_form', f: f, model: @coupled_model %>
      </dd>
    </dl>
    <%= f.button :submit, t('action.submit'), class: 'button right' %>
  <% end %>
</div>
