<ul class='left-side-list'>
  <li><%= model.short_name %></li>
  <li>
    <%= t('global.contact') %>:
    <%= link_to User.find(model.contact_id).name, main_app.user_path(model.contact_id) %>
  </li>
  <% if can? :update, model %>
    <li>
      <%= link_to fa_icon('edit', text: t('action.edit')), [:edit, model] %>
    </li>
  <% end %>
</ul>
