<div class='model-form'>
  <%= simple_form_for @lnd_model do |f| %>
    <%=
      render partial: 'scrinium_esm/commons/model_form',
      locals: { f: f, model: @lnd_model }
    %>
    <% if @lnd_model.id %>
      <%= f.button :submit, t('action.edit'), class: 'button right' %>
    <% else %>
      <%= f.button :submit, t('action.add'), class: 'button right' %>
    <% end %>
  <% end %>
</div>
