<div class='metric-form'>
  <%= simple_form_for @diagnostic_result do |f| %>
    <%= f.association :metric, label: t('scrinium_esm.metric') %>
    <%=
      f.input :contact_id,
      collection: [ @diagnostic_result.contact_id ],
      input_html: { id: 'input-user-name' }
    %>
    <%= f.button :submit, t('action.submit'), class: 'button float-right' %>
  <% end %>
</div>
