<div class='metric-form'>
  <%= simple_form_for @diagnostic_result do |f| %>
    <!-- TODO: 为什么association不采用activerecord的翻译？ -->
    <%= f.association :metric, label: t('activerecord.attributes.scrinium_esm/diagnostic_result.metric_id') %>
    <%=
      f.input :contact_id,
      collection: [ @diagnostic_result.contact_id ],
      input_html: { id: 'input-user-name' }
    %>
    <%= f.button :submit, t('action.submit'), class: 'button float-right' %>
  <% end %>
</div>
