/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.experiment-form {
 padding-top: 30px;
 max-width: 100%;
 margin: auto;
 h3 {
   margin-top: 0;
   margin-bottom: 20px;
 }
 textarea.text {
   height: 200px;
   max-width: 100%;
   width: 100%;
 }
}

.action-list {
  list-style-type: none;
}

.subject-input-1 {
  padding: 5px;
  max-width: 48%;
  width: 48%;
}

.subject-input-2 {
  padding: 5px;
  max-width: 48%;
  width: 48%;
}

.subject-textarea-2 {
  margin-top: 1em;
  max-width: 100%;
  width: 100%;
}
